<%= form_for(@online) do |f| %>
  <% if @online.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@online.errors.count, "error") %> prohibited this online from being saved:</h2>

      <ul>
      <% @online.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :numero_de_maquinas %><br>
    <%= f.text_field :number_machines %>
  </div>
  <div class="field">
    <%= f.label :numero_de_operarias %><br>
    <%= f.text_field :number_operator %>
  </div>
  <div class="actions">
    <%= f.submit "Crear"%>
  </div>
<% end %>
