<h1>Listado de lineas</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Numero</th>
      <th>Numero de maquinas</th>
      <th>Numero de operarias</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @onlines.each do |online| %>
      <tr>
        <td><%= online.number %></td>
        <td><%= online.number_machines %></td>
        <td><%= online.number_operator %></td>
        <td><%= link_to 'Show', online %></td>
        <td><%= link_to 'Edit', edit_online_path(online) %></td>
        <td><%= link_to 'Destroy', online, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva linea', new_online_path %>
