<%= simple_form_for(@instructor, :html => { :class => 'form-horizontal' } ) do |f| %>

  <% if @instructor.errors.any? %>
	<div id="error_explanation">
  	<h2><%= pluralize(@instructor.errors.count, "error") %> prohibited this cliente from being saved:</h2>

  	<ul>
  	<% @instructor.errors.full_messages.each do |message| %>
    	<li><%= message %></li>
  	<% end %>
  	</ul>
	</div>
  <% end %>

  <div class="field">
    <%= f.label :documento_id %><br>
    <%= f.text_field :document_id %>
  </div>
  <div class="field">
    <%= f.label :numero_documento %><br>
    <%= f.text_field :number_document %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :genero %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :street_address %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :area_id %><br>
    <%= f.text_field :area_id %>
  </div>
  <div class="field">
    <%= f.label :rol_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :linea_id %><br>
    <%= f.text_field :online_id %>
  </div>
  <div class="actions" >
    <%= f.submit  "Crear"%>
  </div>
<% end %>
