<h1>Listing instructors</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Document</th>
      <th>Number document</th>
      <th>Name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Street address</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Area</th>
      <th>User</th>
      <th>Online</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= instructor.document %></td>
        <td><%= instructor.number_document %></td>
        <td><%= instructor.name %></td>
        <td><%= instructor.last_name %></td>
        <td><%= instructor.gender %></td>
        <td><%= instructor.street_address %></td>
        <td><%= instructor.email %></td>
        <td><%= instructor.phone %></td>
        <td><%= instructor.area %></td>
        <td><%= instructor.user %></td>
        <td><%= instructor.online %></td>
        <td><%= link_to 'Show', instructor %></td>
        <td><%= link_to 'Edit', edit_instructor_path(instructor) %></td>
        <td><%= link_to 'Destroy', instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instructor', new_instructor_path %>
