<h1>Listado de  instructores</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Documento</th>
      <th>Numero documento</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Genero</th>
      <th>Direccion</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Area</th>
      <th>Rol</th>
      <th>Linea</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= instructor.document %></td>
        <td><%= instructor.number_document %></td>
        <td><%= instructor.name %></td>
        <td><%= instructor.last_name %></td>
        <td><%= instructor.gender %></td>
        <td><%= instructor.street_address %></td>
        <td><%= instructor.email %></td>
        <td><%= instructor.phone %></td>
        <td><%= instructor.area %></td>
        <td><%= instructor.user %></td>
        <td><%= instructor.online %></td>
        <td><%= link_to 'Ver', instructor %></td>
        <td><%= link_to 'Editar', edit_instructor_path(instructor) %></td>
        <td><%= link_to 'Eliminar', instructor, method: :delete, data: { confirm: 'Seguro desea Eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Instructor', new_instructor_path %>
