<p id="notice"><%= notice %></p>

<p>
  <strong>Documento:</strong>
  <%= @instructor.document %>
</p>

<p>
  <strong>Numero documento:</strong>
  <%= @instructor.number_document %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @instructor.name %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @instructor.last_name %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @instructor.gender %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @instructor.street_address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @instructor.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @instructor.phone %>
</p>

<p>
  <strong>Area:</strong>
  <%= @instructor.area %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @instructor.user %>
</p>

<p>
  <strong>Linea:</strong>
  <%= @instructor.online %>
</p>

<%= link_to 'Editar', edit_instructor_path(@instructor) %> |
<%= link_to 'Atras', instructors_path %>
