<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @document.description %>
</p>

<%= link_to 'Editar', edit_document_path(@document) %> |
<%= link_to 'Atras', documents_path %>
