<h1>Listado de operaciones</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Image</th>
      <th>Nombre</th>
      <th>Area</th>
      <th>Descripcion</th>
      <th>Maquina</th>
      <th>Tempo estandar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%=image_tag operation.image.url(:thumb)%></td>
        <td><%= operation.name %></td>
        <td><%= operation.area %></td>
        <td><%= operation.description %></td>
        <td><%= operation.maquina %></td>
        <td><%= operation.time_standar %></td>
        <td><%= link_to 'Ver', operation %></td>
        <td><%= link_to 'Editar', edit_operation_path(operation) %></td>
        <td><%= link_to 'Eliminar', operation, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Operacion', new_operation_path %>
