<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @operation.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @operation.area %>
</p>
<%=image_tag@operation.image.url(:thumb)%>
<p>
  <strong>Descripcion:</strong>
  <%= @operation.description %>
</p>

<p>
  <strong>Maquina:</strong>
  <%= @operation.maquina %>
</p>

<p>
  <strong>Tiempo estandar:</strong>
  <%= @operation.time_standar %>
</p>

<%= link_to 'Editar', edit_operation_path(@operation) %> |
<%= link_to 'Atras', operations_path %>
